$color-primary: #000;

p {
  color: $color-primary;
  font-size: 1rem;
}

.box1 {
  transition: all 4s ease; 
  height: 100px;
  width: 100px;
}

.box1 {
  background-color: red;
}

.bg-dessert {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
  background-image: url(../images/dessert.jpg);
}


